#movies img, #movie img{
  width: 100%;
}

@media(min-width: 960px){
  #movies .col-md-3 .well{
    height: 440px;
  }

  #movies .col-md-3 img{
    height: 220px;
  }
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -1;/*image gets behind jumbotron*/
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.indexJumbotron {
	background-color:   #07685c!important;
}
.search_movie {/*afora ton text titlo tou search box*/
	color: #9dccc6;
}
.save_button{ /*  afora to koumpi apothikeusis*/
	background-color:   #07685c;
	color: #9dccc6;
}
.fav_genre { /*afora to header text agapimeni katigoria */
	color: #9dccc6;
}
/*account page for account.php related CSS*/

.user_data {
	color: #42f44e;
}
.btn.btn--blue{
	color: white;
	
}



